# Jetbrains Rider personal-layer settings
*.DotSettings.user

# Jetbrains Rider cache directory
.idea/

# Visual Studio cache directory
.vs/
.vscode/

# UniJS config file
UniJS_config.asset
UniJS_config.asset.meta